@import '../../../../src/css/_screen-layouts';

.docsSideNavBackground {
  display: none;
}

.docRoot {
  display: flex;
  width: 100%;
  max-width: var(--body-width);
  margin-left: var(--margin);
  margin-right: var(--margin);
}

.docsWrapper {
  display: flex;
  flex: 1 0 auto;
}


@include for-desktop-screens {
  .docsSideNavBackground {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--custom-background-blue-light);
    width: calc((100vw - var(--body-width)) / 2 + var(--left-nav-width));
    height: 100%;
    z-index: -1;
  }
}
