$gutter: 8px;
$margin: 16px;
$body-width: 100%;
$columns: 4;
$columns-left-nav: 0;
$columns-main: 4;
$columns-right-bar: 0;

// Column width calculation function
@function column-width($body-width, $total-columns, $columns, $gutter) {
  @return ($body-width / $total-columns * $columns) - $gutter;
}

// Layout Mixins
@mixin layout-xl {
  $gutter: 32px !global;
  $margin: auto !global;
  $body-width: 1440px !global;
  $columns: 12 !global;
  $columns-left-nav: 3 !global;
  $columns-main: 6 !global;
  $columns-right-bar: 3 !global;
}

@mixin layout-lg {
  $gutter: 32px !global;
  $margin: 32px !global;
  $body-width: 100% !global;
  $columns: 12 !global;
  $columns-left-nav: 3 !global;
  $columns-main: 6 !global;
  $columns-right-bar: 3 !global;
}

@mixin layout-md {
  $gutter: 16px !global;
  $margin: 32px !global;
  $body-width: 100% !global;
  $columns: 8 !global;
  $columns-left-nav: 3 !global;
  $columns-main: 6 !global;
  $columns-right-bar: 0 !global;
}

@mixin layout-sm {
  $gutter: 16px !global;
  $margin: auto !global;
  $body-width: 540px !global;
  $columns: 4 !global;
  $columns-left-nav: 0 !global;
  $columns-main: 4 !global;
  $columns-right-bar: 0 !global;
}

@mixin layout-xs {
  $gutter: 8px !global;
  $margin: 16px !global;
  $body-width: 100% !global;
  $columns: 4 !global;
  $columns-left-nav: 0 !global;
  $columns-main: 4 !global;
  $columns-right-bar: 0 !global;
}

// Media Query Mixins
@mixin for-xl-screens {
  @media (min-width: 1536px) {
    @include layout-xl;
    @content;
  }
}

@mixin for-lg-screens {
  @media (min-width: 1200px) and (max-width: 1535px) {
    @include layout-lg;
    @content;
  }
}

@mixin for-md-screens {
  @media (min-width: 997px) and (max-width: 1199px) {
    @include layout-md;
    @content;
  }
}

@mixin for-sm-screens {
  @media (min-width: 600px) and (max-width: 996px) {
    @include layout-sm;
    @content;
  }
}

@mixin for-xs-screens {
  @media (max-width: 599px) {
    @include layout-xs;
    @content;
  }
}

@mixin for-mobile-screens {
  @media (max-width: 996px) {
    @include layout-xs;
    @content;
  }
}

@mixin for-desktop-screens {
  @media (min-width: 997px) {
    @include layout-xl;
    @content;
  }
}